<ion-header>
  <ion-toolbar>
    <ion-title>{{ title }}</ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="popUpSetting($event)">
        <ion-icon slot="icon-only" name="settings"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content (swipeLeft)="handelSwipeLeft()" (swipeRight)="handelSwipeRight()">
  <ion-tabs (ionTabsDidChange)="change($event)">
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="contact">
        <ion-icon name="contacts"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="channels">
        <ion-icon name="chatbubbles"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="favorites">
        <ion-icon name="bookmark"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
