<ion-header>
  <ion-toolbar>
    <ion-title>messages</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="../"> </ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="presentMenu($event)">
        <ion-icon name="more" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="chat">
    <ion-item
      *ngFor="let msg of chat.msgs"
      class="ion-no-padding"
      [ngClass]="{ 'ion-text-right': fromMe(msg) }"
    >
      <ion-avatar [slot]="fromMe(msg) ? 'end' : 'start'">
        <ion-img [src]="msg.photoURL"></ion-img>
      </ion-avatar>
      <ion-label>
        {{ msg.msg }}
      </ion-label>
    </ion-item>
  </ion-list>
  <div class="chat-input">
    <ion-input
      placeholder="Text"
      [(ngModel)]="msg"
      (change)="onEnter($event)"
    ></ion-input>
    <ion-button [disabled]="!msg" (click)="onSend()">
      <ion-icon name="paper-plane"></ion-icon>
    </ion-button>
  </div>
</ion-content>
