<ion-header>
  <ion-toolbar>
    <ion-title>Create new Channel</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        <ion-icon name="arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-text-center">
    <ion-row>
      <ion-col size="10" offset="1">
        <form [formGroup]="form">
          <ion-row class="ion-justify-content-center">
            <ion-col size="6" offset="3" (click)="file.click()">
              <ion-avatar>
                <ion-img [src]="photoURL" name="file"></ion-img>
              </ion-avatar>
              <ion-icon
                name="camera"
                class="camera"
                color="tertiary"
              ></ion-icon>

              <input
                type="file"
                hidden
                #file
                appPreview
                (preview)="onPreview($event)"
                (file)="onFile($event)"
                accept="image/png,image/jpg/,image/jpeg"
              />
            </ion-col>
          </ion-row>
          <ion-item class="mar">
            <ion-label>
              Name:
            </ion-label>
            <ion-input
              type="text"
              name="nickname"
              formControlName="name"
              required
              minlength="5"
              maxlength="25"
            ></ion-input>
          </ion-item>
          <ion-label *ngIf="name.invalid && name.dirty" color="danger">
            <ion-text *ngIf="name.errors['notNew']; else def">
              name already taken
            </ion-text>
            <ng-template #def>
              <ion-text>
                name must be between 5 and 25
              </ion-text>
            </ng-template>
          </ion-label>
          <ion-item class="mar">
            <ion-label>
              Description:
            </ion-label>
            <ion-textarea
              type="text"
              name="description"
              formControlName="description"
              rows="6"
              cols="20"
              required
            ></ion-textarea>
          </ion-item>
          <ion-label
            *ngIf="description.invalid && description.dirty"
            color="danger"
          >
            <ion-text>
              description must be between 25 and 225
            </ion-text>
          </ion-label>
          <ion-button
            type="submit"
            (click)="onSubmit()"
            expand="block"
            [disabled]="!profileForm.valid"
            >Submit</ion-button
          >
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
