<ion-list>
  <ion-virtual-scroll [items]="channels">
    <ion-item *virtualItem="let u" class="ion-no-padding">
      <ion-avatar>
        <ion-img [src]="u.photoURL"></ion-img>
      </ion-avatar>
      <ion-label style="margin-left: 1rem">
        {{ u.name }}
      </ion-label>
    </ion-item>
  </ion-virtual-scroll>
</ion-list>

<ion-fab
  vertical="bottom"
  horizontal="end"
  slot="fixed"
  (click)="onCreateNew()"
>
  <ion-fab-button>
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
  <ion-infinite-scroll-content loadingText="Loading more data...">
  </ion-infinite-scroll-content>
</ion-infinite-scroll>
